//font
$font-regular: 'RobotoRegular';
$font-bold: 'RobotoBold';
//bg body H2 H3 dans body
$primary: #1E3A8A;
//paragraphe
$p-body: #111827;

//bouton
$color-btn: #10b981;
//btn hover
$color-hover: #047857;

//color basic
$white: white; //h1
$black: black;
$bordeaux: orange;