@use "../abstracts/variables" as variables;
body {
    header {
        background-color: variables.$primary;
        height: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 1em;
        box-shadow: 2px 2px 2px black;
        .logo {
            width: 5rem;

            img {
                border-radius: 50%;
            }
        }

        nav {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 0.8rem;

            ul {
                display: flex;
                gap: 1rem;
            }
        }
        .menu {
            display: none;
        }
        

    }
}